[Unit]
Description=Example Static File For Ansible Role Template
Wants=basic.target
After=basic.target

[Service]
SyslogIdentifier=example
ExecStart=/usr/bin/true

[Install]
WantedBy=multi-user.target
