# reference: https://github.com/zadam/trilium/wiki/Packaged-server-installation, 2023-05-09
[Unit]
Description=Trilium Daemon
After=syslog.target network.target

[Service]
User={{ trilium_user }}
Group={{ trilium_group }}
Type=simple
ExecStart={{ trilium_dir }}/trilium.sh
WorkingDirectory={{ trilium_dir }}

TimeoutStopSec=20
# KillMode=process leads to error, according to https://www.freedesktop.org/software/systemd/man/systemd.kill.html
Restart=always

[Install]
WantedBy=multi-user.target
